

.header{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
  
    width: 45%;
    margin:auto;
    margin-top: 30px;
    font-size: 18px;
    color: 5d5d5d;
    /* font-family: AvenirLTPro-Medium; */
    padding: 10px;
    padding-left: 40px;
    border-radius: 10px;
}
.icon{
    border-radius: 50%;
    width: 15px;
   font-weight: bold;
    margin-left: 20px;
    font-size: 10px;
    padding: 3px;
    background-color: rgb(156,51,83);
    color: white;
    padding-top: 4px;
}
.homePart_1{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
}
.homePart_1>div{
width: 50%;
height: 100%;
/* border: 1px solid black; */
}

img{
    margin-top: 20px;
    width: 100%;
    height: 100%;
} 
.homePart_1Div_1>p:nth-child(1){
font-size: 40px;
text-align: left;
margin-left: 150px;
}
.homePart_1Div_1>p:nth-child(2){
    font-size: 25px;
    text-align: left;
    margin-left: 150px;
    margin-top: -20px;
    }
    .homePart_1Div_1>p:nth-child(3){
        font-size: 20px;
        width: 70%;
        text-align: left;
        margin-left: 150px;
        }
     .fndBtn{
        padding: 15px;
        width: 300px;
        margin-left: -100px;
        font-size: 19px;
        border-radius: 30px;
        background-color: rgb(156,51,83);
        border: none;
        color: rgb(221, 44, 44);
        color: white;
     }   
     .rupees{
    
       display: flex;
       width: 60%;
       margin-top: 20px;
       margin-left: 150px;
       justify-content: space-between;
     
     }
     .rupees>div{
        border-right: 1px solid rgb(156,51,83) ;
        font-size: 20px;
        padding-right: 10px;
       
     }
     .rupees>div>p:nth-child(1){
        margin-top: 20px;
        margin-bottom: -15px;
        color:rgb(156,51,83);
     }
     .fees{
        display: flex;
        width: 70%;
        height: 70px;
        margin-top: 30px;
        margin-left: 150px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: rgb(251,242,244);
        border-radius: 10px;
     
     }
     .fees>div{
        display: flex;
        margin-left: 200px;
     }
     .fees>div>p{
        font-size: 20px;
     }
     .fees>div>i{
        margin-top: 20px;
        font-size: 40px;
        margin-right: 10px;
        color:rgb(156,51,83);
     }
     .zero{
        font-size: 50px;
        font-weight: bold;
        color:rgb(156,51,83);
     }
     .milaaPara{
        font-size: 30px;
     }
     .design{
        display: flex;
        /* border:1px solid black; */
       width:30%;
       height: 20px;
       margin: auto;
     }
     .design>div{
        width: 30%;
     }
     .box{
        display: flex;
     }
     .design>div>div:nth-child(1){
      width: 15px;
      height: 15px;
      margin-right: 10px;
      margin-left: 20px;
      background-color: rgb(212, 89, 126);
     }
     .design>div>div:nth-child(2){
        background-color: rgb(156,51,83);
        width: 25px;
        height: 25px;
        margin-right: 10px;
        margin-top: -6px;
        
       }
       .design>div>div:nth-child(3){
        width: 15px;
        height: 15px;
        background-color: rgb(215, 98, 133);
        margin-right: 10px;
       }
       .searchBox{
         display: flex;
         width: 50%;
         height: 50px;
         border:1px solid rgb(156,51,83);
         margin: auto;
         border-radius: 30px;
         margin-top: 30px;
       }
       .searchBox>input{
         width: 85%;
         height: 90%;
         margin-left: 20px;
         font-size: 15px;
        border: none;
       }
     
       .searchBox>div{
        
         width: 15%;
         font-size: 25px;
         border-bottom-right-radius: 20px;
         border-top-right-radius: 20px;
         padding-top: 5px;
         background-color: rgb(156,51,83);
         color: white;
       }
       .fundraisingBox{
         cursor: pointer;
         width: 50%;
         height:150px;
         margin: auto;
         display: flex;
         gap: 15px;
         margin-top: 25px;
        
       }
       .fundraisingBox>div{
         border:1px solid rgb(156,51,83);
          width: 25%;
         height: 100%;
         border-radius: 10px;
       }
       .fundraisingBox>p{
         font-size: 18px;
       }
       .fundraisingBox>div>i{
         font-size: 50px;
         margin-top: 30px;
       }
       .fundraisingBox>div:hover{
         background-color: rgb(156,51,83);
         color: white;
       }
       .circle>i{
         font-size: 15px !important;
         margin:40px 5px 20px 5px !important;
       }